<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="CustomersConnectString" value="Data Source = PITAHAYA; Initial Catalog = store; User ID = sa; Password = yourPassword;"/>
		<add key="EmployeeConnectString" value="Data Source = PITAHAYA; Initial Catalog = EmployeeDetails; User ID = sa; Password = yourPassword;"/>
	</appSettings>
</configuration>